body {
  
  background: linear-gradient(270deg, #e13254, #842176, #321293);
  background-size: 600% 600%;

  width: 100%;
  height: 100%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  width: 100%;
  font-size: 5em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

h4{
    width: 100%;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: century-old-style-std,serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    position: absolute;
    top: 52%;
}

button {
    background-color: #F6BF42;
    position: absolute;
    margin: 0;
    top: 60%;
    left: 50%;
    padding: 15px 32px;
    font-size: 30px;
    border-radius: 25px;
    color: #ffffff;
    font-family: source-sans-pro,sans-serif;
    font-weight: 400;
    font-style: Wide;
    transform: translateX(-50%)
}